.homepage-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .welcome-page{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .welcome-texts{
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 1.4rem;
                span{
                    color: rgb(155, 28, 13);
                    text-transform: uppercase;
                }
            }

            h1, p{
                margin-bottom: 10px;
                text-align: center;
            }
        }

        .welcome-image{
            width: 100%;
            height: 50vh;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



@import './sections/about/AboutSection';
@import './sections/footer/FooterSection';



@media(min-width :1200px){
    .homepage-container{
        .welcome-page{
            .welcome-texts{
                width: 30%;
                height: 100vh;
            }

            .welcome-image{
                width: 70%;
                height: 100vh;
            }
        }
    }
}