//I TRIED DOING THIS SAME THING WITH OTHER STYLES I INCLUDED IN THE UNIVERSTYLES COMPONENT BUT FOR SOME REASONS THE STYLES WEREN'T DETECTED
body{
    .emojis-container{
        width: 90%;
        max-height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: darkgray;
        z-index: 10;
        outline: none;
        overflow-wrap: break-word;
        overflow-y: scroll;
        border-radius: 15px;

        .emojis-headers{
            width: 100%;
            min-height: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid saddlebrown;
            
            span{
                cursor: pointer;
                font-size: 1.5rem;
            }
        }

        .selected-emojis{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            span{
                margin: 10px;
                cursor: pointer;
                font-size: 1.35rem;
            }
        }
    }
}


@media(min-width : 960px) {
    body{
        .emojis-container{
            width: 70%;
        }
    }
}