.dark-theme{
    background-color: rgb(0, 0, 14);
    color: rgb(215, 240, 248);
}
.light-theme{
    background-color: rgb(207, 236, 246);
    color: rgb(0, 0, 37);
}

.dashboard-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .dashboard-links{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        background-color: inherit;
        color: inherit;
        z-index: 1;
        color: rgb(192, 89, 78);

        .chats, .favorites, .users{
            border-bottom: 1px solid brown;
            border-radius: 0;
        }
        
        .dark-theme{
            color: inherit;
            background-color: inherit;
        }

         .light-theme{
            color: inherit;
            background-color: inherit;
        }
        .MuiButton-root{
            color: inherit;
        }
    }

    main{
        width: 100%;
        min-height: 90vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .light-theme{
        background-color: lightblue;
        color: rgb(3, 0, 39);
    }

    .dark-theme{
        background-color: rgb(3, 0, 39);
        color: rgb(203, 241, 253);
    }
}

@media(min-width : 1200px) {
    .dashboard-container{
        background-image: url('./assets/dashboard_background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .dashboard-links{
            border-bottom: 1px solid saddlebrown;
        }
        main{
            width: 60%;
        }
    }
}


@import '../chats/chatlist/ChatList';
@import '../chats/chatboard/ChatBoard';
@import '../chats/chatinput/ChatInput';
@import '../favorites/Favorites';