.each-user-container{
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 8rem;
    cursor: pointer;
    margin: 12px;
}